js/* linguist-vendored=false
js/* linguist-generated=false
*.js linguist-language=JavaScript
dist/* linguist-generated=true
build/* linguist-generated=true
public/* linguist-generated=true
docs/* linguist-generated=true
